<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Stories</title>
    <link rel="icon" type="image-icon" href="images/logo.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">

    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/jquery.flipster.min.css">

    <!-------------jQuery-------------------->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>

    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="/css/form.css">

  
</head>
<body>
    <header class="adminhead">
        <p style="text-align: left;">Vendor Dashboard</p>        <a href="/" style="color:white">Go to Home <i class="fa fa-home" aria-hidden="true"></i></a>

    </header>

    <!-- <% if(userid) { %>
        <%=userid%>
    <% } %> -->

    <div class="row">
      <% if(ErrorData) { %>
          <div class="col-12 alert alert-danger" role="alert">
              <%= ErrorData %>
          </div>
      <% } else if (SubmitData) { %>
          <div class="col-12 alert alert-success" role="alert">
              <%= SubmitData %>
          </div>
      <% } else if (WarningData) { %>
          <div class="col-12 alert alert-warning" role="alert">
              <%= WarningData %>
          </div>
      <% } %>
    </div>
    <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#packages">
             Packages
            </a>
          </div>
          <div id="packages" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
               <button class="btn btn-info btn-lg"><a href="/packages-form/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/packages/edit/<%=userid%>">Update</a></button>
                <button class="btn btn-info btn-lg"><a href="/packages/edit/<%=userid%>">Delete</a></button>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#venue">
              Venue
            </a>
          </div>
          <div id="venue" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
               <button class="btn btn-info btn-lg"><a href="/register-venue/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/venues/edit/<%=userid%>">Update</a></button>
               <button class="btn btn-info btn-lg"><a href="/delete-venue/<%=userid%>">Delete</a></button> 
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#caterer">
              Caterer
            </a>
          </div>
          <div id="caterer" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <button class="btn btn-info btn-lg"><a href="/addcatererform/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/updcatererform/<%=userid%>">Update</a></button>
                <button class="btn btn-info btn-lg"><a href="/deletecaterer/<%=userid%>">Delete</a></button>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#entertainment">
                Entertainer
              </a>
            </div>
            <div id="entertainment" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <button class="btn btn-info btn-lg"><a href="/register-entertainer/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/entertainers/edit/<%=userid%>">Update</a></button>
                <button class="btn btn-info btn-lg"><a href="/delete-entertainer/<%=userid%>">Delete</a></button>  
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#photographer">
                Photographer
              </a>
            </div>
            <div id="photographer" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <button class="btn btn-info btn-lg"><a href="/register-photographer/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/photographers/edit/<%=userid%>">Update</a></button>
                <button class="btn btn-info btn-lg"><a href="/delete-photographer/<%=userid%>">Delete</a></button> 
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#decorator">
                Decorator
              </a>
            </div>
            <div id="decorator" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <button class="btn btn-info btn-lg"><a href="/adddecorform/<%=userid%>">Add</a></button>
                <button class="btn btn-info btn-lg"><a href="/upddecorform/<%=userid%>">Update</a></button>
                <button class="btn btn-info btn-lg"><a href="/deletedecor/<%=userid%>">Delete</a></button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#invitation">
                Invitation Card Provider
              </a>
            </div>
            <div id="invitation" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">

             <button class="btn btn-info btn-lg"><a href="/addinviteform/<%=userid%>">Add</a></button>
             <button class="btn btn-info btn-lg"><a href="/updinviteform/<%=userid%>">Update</a></button>
             <button class="btn btn-info btn-lg"><a href="/deleteinvite/<%=userid%>">Delete</a></button>
               
            </div>
            </div>
          </div>
      
      </div>
</body>
</html>