<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Stories</title>
    <link rel="icon" type="image-icon" href="images/logo.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">

    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-------------jQuery-------------------->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <style>
       body{
        background-color: aliceblue;
       }

       .card{
        width:60%;
        font-family: 'Nunito';
        font-size: 20px;
        margin: auto;
        padding:20px;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 20px;
        box-shadow: 0px 8px 32px rgba(0,0,0,0.37);
       }

       .card h2{
        text-align: center;
        margin: 7%;
        font-size: 30px;
       }

       .card label{
        margin-bottom: 10px;
        font-size: 23px;
       }

       .card small{
        font-size:17px;
       }

       .card input[type='text'],textarea,input[type='file']{
        margin-bottom: 10px;
       }

       .card .btncss{
        margin-top: 3%;
        padding:10px;
        font-size: 20px;
        transition: 1s ease;
       }

       .card .btncss:hover{
        transform: scale(1.1);
       }

    </style>

    
</head>
<body>
    <div class="card">
        <div style="display: flex;align-items: center;justify-content: center;">
            <img src="/images/logo3-removebg-preview.png" alt="" width="160px" height="160px"><h2>Update Details For the Decorator</h2>
        </div>
        <h6>Date: <%= new Date() %>  </h6>
        <form action="/upddecor/<%= userid%>" method="POST" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <% if(infoSubmitObjdecorupd !='' ) { %>
                        <div class="col-12 alert alert-success" role="alert">
                            <%= infoSubmitObjdecorupd %>
                        </div>
                        <% } %>

                            <% if(infoErrorsObjdecorupd !='' ) { %>
                                <div class="col-12 alert alert-danger" role="alert">
                                    <%= infoErrorsObjdecorupd %>
                                </div>
                                <% } %>
                </div>
            </div>
            <div class="form-group">
                <label for="dname">Name of the Firm:</label>
                <input type="text" id="dname" name="dname" class="form-control" placeholder="Name" disabled value="<%=name%>">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="dlocation" class="form-control" value="<%=loc%>">
            </div>
            <div class="form-group">
                <label for="starting-price">Starting Price:</label>
                <br>
                <small>(Add the starting price - minimum price for the decoration available)</small>
                <input type="text" id="starting-price" name="dstartprice" class="form-control" value="<%=start%>">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <br>
                <small>(Add some description about your Firm)</small>
                <textarea id="description" name="dabout" rows="4" class="form-control"><%=desc%></textarea>
            </div>
            <div class="form-group">
                <label for="year-of-operation">Year of Operation:</label>
                <br>
                <small>(Add the year in which the firm started)</small>
                <input type="text" id="year-of-operation" name="dyearop" class="form-control" value="<%=yearop%>" disabled>
            </div>
            <div class="form-group">
                <label for="service-type">Service Type:</label>
                <br>
                <small>(Add the services/decoration types you provide)</small>
                <input type="text" id="service-type" name="dservicetype" class="form-control" value="<%=service%>">
            </div>
            <div class="form-group">
                <label for="indoor">Indoor Budget Range:</label>
                <br>
                <small>(Add the price range you provide for your indoor decoration)</small>
                <input type="text" id="indoor" name="dindoor" class="form-control" value="<%=indoor%>">
            </div>
            <div class="form-group">
                <label for="outdoor">Outdoor Budget Range:</label>
                <br>
                <small>(Add the price range you provide for your outdoor decoration)</small>
                <input type="text" id="outdoor" name="doutdoor" class="form-control" value="<%=outdoor%>">
            </div>
            <div class="form-group">
                <label for="since">With Dream Stories Since:</label>
                <br>
                <small>(Add current year)</small>
                <input type="text" id="since" name="dsince" class="form-control" value="<%=since%>" disabled>
            </div>
            <div class="form-group">
                <label for="instaurl">Add Instagram Url:</label>
                <input type="text" id="instaurl" name="dinstaurl" class="form-control" value="<%=insta%>">
            </div>
            <div class="form-group">
                <label for="fburl">Add Facebook Url:</label>
                <input type="text" id="fburl" name="dfburl" class="form-control" value="<%=fb%>">
            </div>
            <div class="form-group">
                <label for="call">Add Contact:</label>
                <input type="text" id="call" name="dcontact" class="form-control" value="<%=contact%>">
            </div>
            <div class="form-group">
                <label for="profile-picture">Profile Picture:</label>
                <br>
                <small>(Add the image you want to display as your profile picture , users would see this first)</small>
                <input type="file" id="profile-picture" name="dprofilepic" accept="image/*" class="form-control">
            </div>
            <div class="form-group">
                <label for="portfolio">Add Portfolio:</label>
                <br>
                <small>(Add only images to showcase your work , multiple images allowed)</small>
                <input type="file" id="portfolio" name="dportfolio" accept="image/*" multiple class="form-control">
            </div>
           
            <button type="submit" class="btn btn-primary btncss">Update Decorator</button>
        </form>
    </div>
</body>
</html>
