<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !='undefined' ? title: 'Dream Stories' %>
    </title>
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/details_form.css">

</head>

<body>
    <div class="container form-container">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <div style="display: flex; align-items: center; justify-content: center;"><img
                        src="/public/images/logo3-removebg-preview.png" alt="" width="100px" height="100px" style="margin-right: 1rem;">

                    <h3>ENTERTAINER <br> REGISTRATION FORM</h3>
                </div>
                <p>"Shine on Stage, Shine in Records: Register as an Entertainer, Steal the Spotlight!"</p>
            </div>

            <div class="container">
                <div class="row">

                    <% if(infoSubmitObj !='' ) { %>
                        <div class="col-sm-6 alert alert-success" style="text-align: center;">
                            <%= infoSubmitObj %>
                        </div>
                        <% } %>

                            <% if(infoErrorsObj !='' ) { %>
                                <div class="col-12 alert alert-danger" role="alert">
                                    <%= infoErrorsObj[0].message %>
                                </div>
                                <% } %>

                </div>
                <div class="row rows crow">
                    <div class="col">
                        <h6>Date: </h6>
                    </div>
                </div>
                <div class="row rows drow">
                    <div class="col-sm-3">
                        <label for="name">
                            <h6>Name of Organisation:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="name" id="name" class="form-control" title="name">
                    </div>
                </div>
                <div class="row rows erow ">
                    <div class="col-sm-3">
                        <h6>Address:</h6>
                    </div>
                    <div class="col-sm-9"><textarea class="form-control" name="address" id="address" placeholder=" "
                            title="address"></textarea>
                    </div>
                </div>
                <div class="row rows erow ">
                    <div class="col-sm-3">
                        <h6>Location:</h6>
                    </div>
                    <div class="col-sm-9"><input type="text" name="location" id="location" placeholder=" "
                            title="Location">
                    </div>
                </div>
                <div class="row rows frow"  style=" background: #a8a8a8; color: rgb(0, 0, 0);">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">Street</div>
                    <div class="col-sm-4">City</div>
                </div> 
                
                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="address-url">
                            <h6>Address Map URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="address-url" id="address-url" class="form-control"
                            cols="83" rows="5">
                    </div>
                </div>

                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="about">
                            <h6>About:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><textarea name="about" id="about" class="form-control" cols="83"
                            rows="5"></textarea>
                    </div>
                </div>
                <div class="row rows irow">
                    <div class="col-sm-3">
                        <label for="since">
                            <h6>Contact:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="tel" name="contact" class="form-control" title="contact"
                            id="contact">
                    </div>
                </div>
                <div class="row rows hrow">
                    <div class="col-sm-3">
                        <label for="email">
                            <h6>Email:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="email" name="email" class="form-control" title="email"
                            id="email">
                    </div>
                </div>
                <div class="row rows irow">
                    <div class="col-sm-3">
                        <label for="since">
                            <h6>How long been on Dream Stories:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="number" name="since" class="form-control" title="since"
                            id="since">
                    </div>
                </div>
                <div class="row rows irow">
                    <div class="col-sm-3">
                        <label for="since">
                            <h6>Payment Terms:</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="payment" class="form-control" title="Payment Terms"
                            id="payment">
                    </div>
                </div>

                <div class="row rows lrow black-white">
                    <div class="col-sm-3">
                        <h6>Event/s Hosted: </h6>
                    </div>
                </div>

                <div class="row rows">
                    <div class="add-more-services-list">
                        <div class="add-more-services-div" style="width: 102%;">
                            <div class="row rows" style="border-radius: 0; width: 100%; justify-content: center;">

                                <div class="col-6"><input type="text" name="services" class="form-control"
                                        title="Services">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-services">Add more +</button>
                    </div>
                </div>
                <div class="row rows irow">
                    <div class="col-sm-3">
                        <label for="budget">
                            <h6>Budget: </h6>
                        </label>
                    
                    <div class="col-sm-9"><input value="<%= entertainers.budget%>" type="text" name="budget" class="form-control" title="Budget" id="budget" size="40px">
                    </div></div>
                    <div class="col-sm-3">
                        <label for="since">
                            <h6>Payment Terms:</h6>
                        </label>
                    <div class="col-sm-9"><input value="<%=entertainers.payment_terms%>" type="text" name="payment"
                            class="form-control" title="Payment Terms" id="payment">
                    </div></div>
                </div>

                <div class="row rows irow">
                    <div class="col-sm-3">
                        <label for="budget">
                            <h6>Events Managed: </h6>
                        </label>
                    
                    <div class="col-sm-9"><input value="<%= entertainers.eventManaged%>" type="text" name="budget" class="form-control" title="Budget" id="budget" size="40px">
                    </div></div>
                    <div class="col-sm-3">
                        <label for="since">
                            <h6>How long been on Dream Stories:</h6>

                        </label>
                    <div class="col-sm-9"><input value="<%=entertainers.since%>" type="text" name="since"
                            class="form-control" title="Payment Terms" id="since">
                    </div></div>
                </div>

                <div class="row rows krow">
                    <div class="col-sm-6 kcolumns" style="display: flex; justify-content: center; align-items: center;">
                        <label for="payment">
                            <h6>Experience:</h6>
                        </label>
                        <input type="text" name="experience" class="form-control" title="Experience" id="experience"
                            size="40px">
                    </div>
                    <div class="col-sm-6 kcolumns"
                        style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                        <label for="travel-cost">
                            <h6>Travel Cost:</h6>
                        </label>
                        <input type="text" name="travel" class="form-control" title="travel" id="travel-cost"
                            size="40px">
                    </div>
                </div>


                <div class="row rows orow black-white">
                    <div class="col-sm-12">
                        <h4>PER DAY PRICE ESTIMATE</h4>
                    </div>
                </div>
                <div class="row rows prow reddish" style="text-align: center;">
                    <div class="col-sm-5 pcolumns">
                        <h6>EVENT TYPE/NAME</h6>
                    </div>
                    <div class="col-sm-7 pcolumns">
                        <h6>PRICE (INR)</h6>
                    </div>

                </div>

                <div class="row rows rrow">
                    <div class="add-more">
                        <div class="add-more-division" style="width: 102%;">
                            <div class="row rows rrow form-control" style="background: #adadadb4; border-radius: 0;">
                                <div class="col-sm-5"><input type="text" name="event" class="form-control"
                                        title="Type/Name" size="65px">
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" name="price" class="form-control" title="Type_price" size="25px">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rows" style="text-align: center;">
                    <div class="col-12">

                        <button type="button" class="button add-button" id="add-more-button">Add more +</button>
                    </div>
                </div>


                <div class="row rows orow" style="text-align: center; background: #a8a8a8ad;">
                    <div class="col-sm-12">
                        <h4>SOCIAL MEDIA HANDLES</h4>
                    </div>
                </div>
                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="insta-url">
                            <h6>Instagram URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="insta-url" id="insta-url" class="form-control"
                            cols="83" rows="5">
                    </div>
                </div>
                <div class="row rows grow">
                    <div class="col-sm-3">
                        <label for="fb-url">
                            <h6>Facebook URL</h6>
                        </label>
                    </div>
                    <div class="col-sm-9"><input type="text" name="fb-url" id="fb-url" class="form-control"
                            cols="83" rows="5">
                    </div>
                </div>


                <div class="row rows orow" style="text-align: center; background: #a8a8a8ad;">
                    <div class="col-sm-12">
                        <h4>PORTFOLIOS</h4>
                    </div>
                </div>

                <div class="row rows srow">
                    <div class="col-sm-5">
                        <h6>Product Image</h6>
                    </div>
                    <div class="col-sm-7">

                        <input type="file" name="image" id="image" class="form-control" accept="image/*">
                        <label for="image" id="drop-area">

                            <!--  <input type="file" name="profile-phot class="form-control"o" id="profile-photo"
                                accept="image/jpeg, image/jpg, image/png" hidden> <h6 id="profile-photo-filename"></h6> -->
                            <div class="img-view">
                                <img src="/images/508-icon.png" alt="">
                                <p>Drag and Drop or click here <br> to upload image</p>
                                <span>Upload any image from desktop</span>
                            </div>
                        </label>

                    </div>


                </div>

                <div class="row rows trow">
                    <div class="col-sm-5">
                        <h6>Photos</h6>
                    </div>
                    <div class="col-sm-7">
                        <label for="photos">
                            <input type="file" name="photos" id="photos" class="form-control"
                                accept="image/jpeg, image/jpg, image/png">
                        </label>
                        <div class="file-wrapper">
                            <h5>Uploaded Photos</h5>
                            <!-- <div class="showfilebox">
                                <div class="left">
                                    <span class="filetype"></span>
                                    <h6 id="photos-filename"></h6>
                                </div>
                                <div class="right"><span class="close">&#215;</span></div>
                            </div> -->
                        </div>
                    </div>
                </div>


           


            <div class="row rows urow">
                <div class="col-sm-3"></div>
                <div class="col-sm-4"> <button class="button" id="edit">Edit</button></div>
                <div class="col-sm-4"> <button class="button" id="submit" type="submit">Submit</button></div>
            </div> 
            </div>
    
        </form>
    </div>

    <script src="/js/form.js">

    </script>
</body>

</html>