<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management System</title>
  <link rel="icon" type="image-icon" href="images/logo.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <!-------------Bootstrap CSS------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-------------jQuery-------------------->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-------------Bootstrap js-------------->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!--------------Icons-------------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/css/package-pricing.css">
  <script src="/js/script.js">
     
  </script>
   <script type="text/javascript">
    (function(){
        emailjs.init("uNhx_iGsOh1tSUkb0");
      })();
    </script>
      <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
  
</head>

<body>
  <div id="pkg-body-main">

    <header class="header">

      <div class="fa fa-bars" id="menu-btn" onclick="navBarToggle()"></div>

      <a href="/" class="navbar-logo"><img src="/images/logo.png" alt="" width="100%" height="100%"></a>

      <nav class="navbar navigation-bar">
      </nav>

    </header>

    <div id="pkg-body-main">
      <div class="pkg-price-heading">
        
        <h1><%=packages.pkgname %></h1>
        <h4>
          <%=packages.pkgcmpyname %>
        </h4>
      </div>
      <div class="pkg-price-main">
        <div class="pkg-wrapper">
          <a href="#pkg-section1">
            <div class="pkg-table pkg-basic">
              <div class="pkg-price-section">
                <div class="pkg-price-area">
                  <div class="pkg-inner-area">
                    <span class="pkg-text">&#8377</span>
                    <span class="pkg-price"><%= packages.totalBasicPrice %></span>
                  </div>
                </div>
              </div>
              <div class="pkg-package-name"></div>
              

              <ul class="pkg-features">
                <li>
                  <div>
                    <%if(packages.bItemList !='' ){%>
                      <%packages.bItemList.forEach(bItemList=>{%>
                      <span class="pkg-list">
                        <%=bItemList.basicItem%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>
                  <div>
                    <%if(packages.bItemList !='' ){%>
                      <%packages.bItemList.forEach(bItemList=>{%>
                      <span class="pkg-list-price" id="pkg-basic-price">
                        &#8377 <%=bItemList.basicPrice%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>

                </li>

              </ul>
             
            </div>
          </a>

          <a href="#pkg-section2">
            <div class="pkg-table pkg-premium">

              <div class="pkg-price-section">
                <div class="pkg-price-area">
                  <div class="pkg-inner-area">
                    <span class="pkg-text">&#8377</span>
                    <span class="pkg-price"><%= packages.totalPremiumPrice %></span>
                  </div>
                </div>
              </div>
              <div class="pkg-package-name"></div>
             

              <ul class="pkg-features">
                <li>


                  <div>
                    <%if(packages.pItemList !='' ){%>
                      <%packages.pItemList.forEach(pItemList=>{%>
                      <span class="pkg-list">
                        <%=pItemList.premiumItem%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>
                  <div>
                    <%if(packages.pItemList !='' ){%>
                      <%packages.pItemList.forEach(pItemList=>{%>
                      <span class="pkg-list-price">
                        &#8377 <%=pItemList.premiumPrice%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>

                </li>

              </ul>
             
            </div>
          </a>
          <a href="#pkg-section3">
            <div class="pkg-table pkg-ultimate">
              <div class="pkg-price-section">
                <div class="pkg-price-area">
                  <div class="pkg-inner-area">
                    <span class="pkg-text">&#8377</span>
                    <span class="pkg-price"><%= packages.totalUltimatePrice %></span>
                  </div>
                </div>
              </div>
              <div class="pkg-package-name"></div>
            

              <ul class="pkg-features">
                <li>


                  <div>
                    <%if(packages.uItemList !='' ){%>
                      <%packages.uItemList.forEach(uItemList=>{%>
                      <span class="pkg-list">
                        <%=uItemList.ultimateItem%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>
                  <div>
                    <%if(packages.uItemList !='' ){%>
                      <%packages.uItemList.forEach(uItemList=>{%>
                      <span class="pkg-list-price">
                        &#8377 <%=uItemList.ultimatePrice%>
                      </span>
                      <%})%>
                      <%}%>
                  </div>

                </li>


              </ul>
            
            </div>
          </a>
        </div>
      </div>
      <section class="pkg-main">
        <section id="pkg-section1">
          <h1>Basic</h1>
          <div class="item1">
            <%if(packages.bDesList !='' ){%>
              <%packages.bDesList.forEach(bDesList=>{%>
              <div>
                <h2>
                  <%=bDesList.basicDesTitle%>
                </h2>
              </div>
              <%})%>
              <%}%>
          </div>
          <div class="item1">
            <%if(packages.bDesList !='' ){%>
              <%packages.bDesList.forEach(bDesList=>{%>
              <div>
                <ul>
                  <li>
                    <%=bDesList.basicDes%>
                  </li>
                </ul>
              </div>
              <%})%>
              <%}%>
          </div>


        </section>
        <!----------------sec 2-------------->
        <section id="pkg-section2">
          <h1>Premium</h1>
          <div class="item1">
            <%if(packages.pDesList !='' ){%>
              <%packages.pDesList.forEach(pDesList=>{%>
              <div>
                <h2>
                  <%=pDesList.premiumDesTitle%>
                </h2>
              </div>
              <%})%>
                            <%}%>
          </div>
          <div class="item1">
            <%if(packages.pDesList !='' ){%>
              <%packages.pDesList.forEach(pDesList=>{%>
              <div>
                <ul>
                  <li>
                    <%=pDesList.premiumDes%>
                  </li>
                </ul>
              </div>
              <%})%>
              <%}%>
          </div>

        </section>

        <!----------------sec 3-------------->

        <section id="pkg-section3">
          <h1>Ultimate</h1>
          <div class="item1">
            <%if(packages.uDesList !='' ){%>
              <%packages.uDesList.forEach(uDesList=>{%>
              <div>
                <h2>
                  <%=uDesList.ultimateDesTitle%>
                </h2>
              </div>
              <%})%>
                            <%}%>
          </div>
          <div class="item1">
            <%if(packages.uDesList !='' ){%>
              <%packages.uDesList.forEach(uDesList=>{%>
              <div>
                <ul>
                  <li>
                    <%=uDesList.ultimateDes%>
                  </li>
                </ul>
              </div>
              <%})%>
              <%}%>
          </div>

        </section>
      </section>
    </div>
 </div>
    <div class="contact-form">
      <div id="contact-form">
          <h2>Send Message</h2>
          <div class="input-box">
            <input type="text" id="sname" value="<%=packages.pkgcmpyname %>" disabled>
            <span>Sponsorer Name</span>
        </div>
          <div class="input-box">
              <input type="text" id="name" required="true">
              <span>Full Name</span>
          </div>
          <div class="input-box">
            <input type="number" id="mno" required="true">
            <span>Mobile number</span>
        </div>
          <div class="input-box">
              <input type="email" id="mail" required="true">
              <span>Email</span>
          </div>
          <div class="input-box">
            <input type="text" id="pname" required="true" placeholder="Basic/Premium/Ultimate">
            <span>Package Name</span>
        </div>
          <div class="input-box">
              <textarea  id="message" ></textarea>
              <span>Type your message....</span>
          </div>
          <div class="input-box">
              <input type="submit" value="Send" onclick="sendEmail()" style="font-weight:bold">
          </div>
        </div>
  </div>
 
  <script>   
  (function(){
        emailjs.init("uNhx_iGsOh1tSUkb0");
      })();  
    function sendEmail(){
       
    try {
      var fname=document.getElementById("name").value;
      var sname=document.getElementById("sname").value;
      var mno=document.getElementById("mno").value;
      var mail=document.getElementById("mail").value;
      var pname=document.getElementById("pname").value;
      var message=document.getElementById("message").value;

      if(fname=='' || mno=='' || mail=='' || pname=='' ||message==''){
        alert("Fill all the details");
      }
      else{
        var params={
          from_name : fname,
       mno : mno,
       mail: mail,
       pname: pname,
       message:message
        };
        emailjs.send("service_ns4ekvp","template_gdvjcu8",params).then(function (res){
       
       alert("Successfully sent! A call will come within an hour!!");
      });
      }
    }
    catch(err){
      console.log(err);
      alert(err);
    }
  }

      </script>  
</body>

</html>