<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="icon" type="/images/image-icon" href="images/logo.ico">
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/venue.css">
</head>

<body>
 
    <header class="header">

        <div class="fa fa-bars" id="menu-btn" onclick="navBarToggle()"></div>

        <a href="/" class="navbar-logo"><img src="images/logo.png" alt="" width="100%" height="100%"></a>

        <nav class="navbar navigation-bar">
            <a href="/venues"><i class="fa fa-map-marker"></i>Venue</a>
            <a href="/caterers"><i class="fa fa-glass"></i>Food & Beverages</a>
            <a href="/entertainers"><i class="fa fa-film"></i>Entertainers</a>
            <a href="/decorators"><i class="fa fa-star"></i>Decoraters</a>
            <a href="/invitations" style="border: none;"><i class="fa fa-gift"></i>e-Invitaton Card</a>

        </nav>

    
    </header>

   
    <div class="page-location">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">photographers</li>
            </ol>
        </nav>
        <div class="filter-search">
            <div class="input-group">
                <form  id="searchForm"  action="/photographers/search/<%= searchInput %>" method="get" enctype="multipart/form-data">
                    <input class="form-control me-2 search-input" id="search" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary search-btn" type="submit" href="">Search</button>
                </form>
            </div>
            <div class="user-btn" id="user-btn">
                <button class="button btn login-btn" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="fa fa-sliders"></i> &nbsp;<span>Filter</span></button>

            </div>
        </div>
    </div>


    <div class="photographer-container">

        <div class="row box1">
              
            <% if(photographerList != '') { %>
                <%photographerList.forEach(photographers=>{%>
            <div class="col-md-4 col-sm-2 column">
                <div class="service-figure">
                    <img src="/uploads/<%=photographers.profilePhoto%>" alt="" class="services-img">
                </div>
                <div class="service-brief">

                    <div class="venue-description venue-name" id="venue-name">
                        <div>
                            <a target="_blank" title="<%=photographers.name %>" href="/photographers/<%= photographers._id%>">
                                <h6><%=photographers.name %></h6>
                            </a>
                        </div>
                        <div><span><i class="fa fa-star"></i><%= photographers.averageRating %></span>
                        </div>
                    </div>

                    <div class="venue-description venue-location" id="venue-location"><a href="#">
                            <div class="location">
                                <span><img
                                        src="https://images.wedmegood.com/react-frontend-v4/static/media/location.417064ed.svg"
                                        alt="Location" width="10.62" height="17"></span>
                                <p title="<%= photographers.address %>"><span><%= photographers.location %>
                                    </span></p>
                            </div>
                        </a>

                    </div>

                    <div class="venue-description photographer-package" id="photographer-package">
                        <div>
                            <span class="package" style="font-size: 0.9rem; color: rgb(0, 0, 0);  font-weight: 500;">
                              Photo + Video</span>
                        </div>
                    </div>

                    <div class="venue-description venue-price" id="venue-price">
                        <div>
                            <span class="veg-food-price">
                                <i class="fa fa-inr"></i><span><%= photographers.photoVideo %></span><span>per day</span></span>

                        </div>
                        <div>
                            <button class="explore"><a href="/photographers/<%= photographers._id%>">Explore More</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <%})%> 
            <% } %>

            <% if(photographerList == '') { %>
                <div class="row box1" style="margin: 100px 200px 100px 600px;">
                    <p>Oops! No result found</p>
                </div>
                <% } %>   

          
        </div>
    </div>

    
    <div class="modal" id="filterModal" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
        <div class="modal-dialog form modal-xl">
            <div class="modal-content form-content">
                <form id="filterForm" method="get">
                <div class="modal-header">
                    <h5 class="modal-title form-title" id="filterModalLabel"><i class="fa fa-sliders"></i> Filter</h5>
                    <button type="button" class="btn-close form-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="filter-topics col-md-12 col-sm-12">
                        <h5>Services</h5>
                        <div class="options">
                            <div class="row filter-rows">
                                <div class="col-3"><input type="radio" name="services_offer"
                                        id="photo-package" value="Photo"></div>
                                <div class="col-5">Photo Package</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-3"><input type="radio" name="services_offer"
                                        id="photo_vdo-package" value="Photo + Video"></div>
                                <div class="col-5"> Photo + Video</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-3"><input type="radio" name="services_offer"
                                        id="pre-wedding" value="Pre Wedding">
                                </div>
                                <div class="col-5">Pre-Wedding Package</div>
                            </div>
                            <div class="row filter-rows">
                                <div class=" col-3"><input type="radio" name="services_offer"
                                        id="studio-photo" value="Studio Photography">
                                </div>
                                <div class="col-5">Studio Photography</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-3"><input type="radio" name="services_offer"
                                        id="cinematography" value="Cinematography">
                                </div>
                                <div class="col-5">Cinematography</div>
                            </div>
                        </div>
                    </div>  <hr>
                    <div class="filter-topics col-md-6">
                        <h5>Budget</h5>
                        <div class="options">
                            <div class="row filter-rows">
                                <div class="col-2"><input type="radio" name="photoVideo" id="lt-50000" value="lte-50000"></div>
                                <div class="col-7">&lt=<i class="fa fa-inr"></i> 50000</div>
                            </div>
                            <div class="row filter-rows"> 
                                <div class="col-2"><input type="radio" name="photoVideo" id="twofive-fifty-thousand" value="50000-100000"></div>
                                <div class="col-7"><i class="fa fa-inr"></i>50000-<i class="fa fa-inr"></i>100000</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-2"><input type="radio" name="photoVideo" id="fifty-one-lakh" value="100000-150000">
                                </div>
                                <div class="col-7"><i class="fa fa-inr"></i>100000-<i class="fa fa-inr"></i>150000
                                </div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-2"><input type="radio" name="photoVideo" id="one-two-lakh" value="150000-200000">
                                </div>
                                <div class="col-7"><i class="fa fa-inr"></i>100000-<i class="fa fa-inr"></i>200000
                                </div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-2"><input type="radio" name="photoVideo" id="two-five-lakh" value="200000-500000">
                                </div> 
                                <div class="col-7"><i class="fa fa-inr"></i>200000-<i class="fa fa-inr"></i>5000000
                                </div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-2"><input type="radio" name="photoVideo" id="more-than-five-lakh" value="500000-gte">
                                </div>
                                <div class="col-7">&gt=  <i class="fa fa-inr"></i>500000</div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="filter-topics col-md-6">
                        <h5>Rating</h5>
                        <div class="options">
                            <div class="row filter-rows">
                                <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                        id="lt-4" value="lte-4"></div>
                                <div class="col-5">Rated &lt 4</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                        id="four-plus" value="4-gte"></div>
                                <div class="col-5"> Rated 4+</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                        id="four-point-five-plus" value="4.5-gte">
                                </div>
                                <div class="col-5">Rated 4.5+</div>
                            </div>
                            <div class="row filter-rows">
                                <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                        id="four-point-eight-plus" value="4.8-gte">
                                </div>
                                <div class="col-5">Rated 4.8+</div>
                            </div>

                        </div>
                    </div>  <hr>

                </div>
                <div class="modal-footer" style="display: flex; flex-direction: column;">
                    <button class="filter-result-btn" id="filter-result" method="get" type="submit" href="/photographer">View Result</button>
                </div></form>
            </div>
        </div>
    </div>

    <script>


        let menu = document.querySelector("#menu-btn"),
            navbar = document.querySelector(".navbar");
        var main = document.querySelector(".main");

        function navBarToggle() {
            menu.classList.toggle('fa-window-close');
            navbar.classList.toggle('navbar-active');
            navbar.classList.toggle('navigation-bar');
        }

        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting in the traditional way

            const searchInput = document.getElementById('search').value; // Get the input value

            // Redirect the user to the URL with the search input as a route parameter
            window.location.href = `/photographers/search/${searchInput}`;
        });


         // JavaScript in the same EJS file or in a separate script file
        document.addEventListener('DOMContentLoaded', function () {
            const filterForm = document.getElementById('filterForm');
            const currentPath = window.location.pathname;

            // Check the current route and update form action accordingly
            if (currentPath.startsWith('/photographers/search/')) {
                // If the current route is /photographer/search/:searchInput
                const searchInput = currentPath.substring('/photographers/search/'.length);
                filterForm.action = `/photographers/search/${searchInput}`;
            } else {
                // If the current route is /photographer
                filterForm.action = '/photographers';
            }
        });


        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
</body>

</html>