<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/details_form.css">

</head>

<body>
    <div class="container form-container">
        <form action="/venues/edit/<%= venue._id%>" method="POST">
            <div class="container">
                <div>
                    <div style="display: flex; align-items: center; justify-content: center;">

                        <h3>VENUE UPDATION</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <% if(infoSubmitObj !='' ) { %>
                            <div class="col-sm-6 alert alert-success" style="text-align: center;">
                                <%= infoSubmitObj %>
                            </div>
                            <% } %>

                                <% if(infoErrorsObj !='' ) { %>
                                    <div class="col-12 alert alert-danger" role="alert">
                                        <%= infoErrorsObj[0].message %>
                                    </div>
                                    <% } %>

                    </div>
                    <div class="row rows crow">
                        <div class="col">
                            <h6>Registration Date: <%=venue.date%>
                            </h6>
                        </div>
                    </div>
                    <div class="row rows drow">
                        <div class="col-sm-3">
                            <h6>Name of Venue:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.name%>" type="text" class="form-control"
                                name="name" id="name" placeholder=" " title="name"></div>
                    </div>
                    <div class="row rows erow ">
                        <div class="col-sm-3">
                            <h6>Address:</h6>
                        </div>
                        <div class="col-sm-9"><textarea class="form-control" name="address" id="address" placeholder=" "
                                title="address"><%=venue.address%></textarea>
                        </div>
                    </div>
                    <div class="row rows erow ">
                        <div class="col-sm-3">
                            <h6>Location:</h6>
                        </div>
                        <div class="col-sm-9"><input class="form-control" value="<%=venue.location%>" type="text"
                                name="location" id="location" placeholder=" " title="Location">
                        </div>
                    </div>
                    <div class="row rows frow" style=" background: #a8a8a8; color: rgb(0, 0, 0);">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">Street</div>
                        <div class="col-sm-4">City</div>
                    </div>

                    <div class="row rows grow">
                        <div class="col-sm-3">
                            <label for="address-url">
                                <h6>Address Map URL</h6>
                            </label>
                        </div>
                        <div class="col-sm-9"><input type="text" name="address-url" id="address-url"
                                class="form-control" value="<%=venue.addressUrl%>">
                        </div>
                    </div>

                    <div class="row rows grow">
                        <div class="col-sm-3">
                            <h6>About:</h6>
                        </div>
                        <div class="col-sm-9"><textarea name="about" class="form-control" id="about" cols="83"
                                rows="5"><%=venue.about%></textarea>
                        </div>
                    </div>


                    <div class="row rows hrow">
                        <div class="col-sm-3">
                            <h6>Contact:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.contact%>" type="tel" class="form-control"
                                name="contact" title="contact">
                        </div>
                    </div>

                    <div class="row rows hrow">
                        <div class="col-sm-3">
                            <h6>Email:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.email%>" type="email" class="form-control"
                                name="email" title="email">
                        </div>
                    </div>

                    <div class="row rows erow ">
                        <div class="col-sm-3">
                            <h6>Venue Type:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.venue_type%>" class="form-control" type="text"
                                name="venue_type" id="venue_type" title="Venue Type">
                        </div>
                    </div>


                    <div class="row rows lrow">
                        <div class="col-12">

                            <h6>Events Hosted:</h6>
                        </div>

                    </div>

                    <div class="row rows">
                        <div class="add-more-services-list">
                            <div class="add-more-services-div" style="width: 102%;">
                                <div class="row rows" style="border-radius: 0; width: 100%; justify-content: center;">
                                    <%if(venue.services !='' ){%>
                                        <%venue.services.forEach(service=>{%>
                                            <div class="col-12"><input value="<%=service%>" type="text" name="services"
                                                    class="form-control" title="Services">

                                            </div>
                                            <%})%>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row rows" style="text-align: center;">
                        <div class="col-12">

                            <a href="/venues/add-services/<%=venue._id%>" class="button add-button">Add more +</a>
                        </div>
                    </div>

                    <div class="row rows irow">
                        <div class="col-sm-3">
                            <h6>How long been on Dream Stories:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.since%>" type="text" class="form-control"
                                name="since" title="since">
                        </div>
                    </div>

                
                    <div class="row rows lrow">
                        <div class="col-sm-3">
                            <h6>Starting Price:</h6>
                        </div>
                        <div class="col-sm-9"><input value="<%=venue.starting_price%>" type="text" class="form-control"
                                name="starting_price" id="starting_price"></div>
                    </div>


                    <div class="row rows krow">
                        <div class="col-sm-6 kcolumns"
                            style="display: flex; justify-content: center; align-items: center;">
                            <h6>Small Party Venue:</h6>
                            <input value="<%=venue.smallpartyvenue%>" type="text" class="form-control"
                                name="small_party" title="Small Party Venue" size="40px">
                        </div>
                        <div class="col-sm-6 kcolumns"
                            style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                            <h6>Features:</h6>
                            <input value="<%=venue.features%>" type="text" class="form-control" name="features"
                                title="Features" size="40px">
                        </div>
                    </div>

                    <div class="row rows krow">
                        <div class="col-sm-6 kcolumns"
                            style="display: flex; justify-content: center; align-items: center;">
                            <h6>Maximum Guests Capacity:</h6>
                            <input value="<%=venue.max_guests%>" type="text" class="form-control" name="guests"
                                title="Maximum Guests" size="40px">
                        </div>
                        <div class="col-sm-6 kcolumns"
                            style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                            <h6>Parking:</h6>
                            <input value="<%=venue.parking%>" type="text" class="form-control" name="parking"
                                title="Parking" size="40px">
                        </div>
                    </div>

                    <div class="row rows krow">
                        <div class="col-sm-6 kcolumns"
                            style="display: flex; justify-content: center; align-items: center;">
                            <h6>Space:</h6>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input value="<%=venue.space%>" type="text"
                                class="form-control" name="space" title="Space">
                        </div>
                        <div class="col-sm-6 kcolumns"
                            style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                            <h6>Room Count:</h6>
                            <input value="<%=venue.room_count%>" type="text" class="form-control" name="room_count"
                                title="Room Count" size="40px">
                        </div>
                    </div>
                    <div class="row rows krow">
                        <div class="col-sm-6 kcolumns"
                            style="display: flex; justify-content: center; align-items: center;">
                            <h6>Catering Policy:</h6>
                            <input value="<%=venue.catering_policy%>" type="text" class="form-control" name="catering"
                                title="Catering Policy" size="40px">
                        </div>
                        <div class="col-sm-6 kcolumns"
                            style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                            <h6>Decor Policy:</h6>
                            <input value="<%=venue.decor_policy%>" type="text" class="form-control" name="decor"
                                title="Decor Policy" size="40px">
                        </div>
                    </div>

                    <div class="row rows krow">
                        <div class="col-sm-6 kcolumns"
                            style="display: flex; justify-content: center; align-items: center;">
                            <h6>Outside Alcohol:</h6>
                            <input value="<%=venue.outside_alcohol%>" type="text" class="form-control" name="alcohol"
                                title="Outside Alcohol" size="40px">
                        </div>
                        <div class="col-sm-6 kcolumns"
                            style="border-right: none; display: flex;  justify-content: center; align-items: center;">
                            <h6>DJ Policy:</h6>
                            <input value="<%=venue.dj_policy%>" type="text" class="form-control" name="dj"
                                title="DJ Policy" size="40px">
                        </div>
                    </div>

                    <div class="row rows orow black-white" >
                        <div class="col-sm-12">
                            <h4>PER PLATE ESTIMATE</h4>
                        </div>
                    </div>
                    <div class="row rows prow reddish">
                        <div class="col-sm-5 pcolumns">
                            <h6>TYPE (VEG/NON-VEG)</h6>
                        </div>
                        <div class="col-sm-7 pcolumns">
                            <h6>PRICE</h6>
                        </div>

                    </div>

                    <div class="row rows rrow">
                        <div class="col-sm-5">VEG</div>
                        <div class="col-sm-7"><input value="" type="text" class="form-control" name="veg" title="Veg"
                                size="65px"></div>

                    </div>


                    <div class="row rows rrow">
                        <div class="col-sm-5">Non-Veg</div>
                        <div class="col-sm-7"><input value="" type="text" class="form-control" name="nonveg"
                                title="Non-Veg" size="65px"></div>

                    </div>

                    <div class="row rows orow black-white">
                        <div class="col-sm-12">
                            <h4>PRICE FOR HALLS</h4>
                        </div>
                    </div>

                    <div class="row rows prow reddish">
                        <div class="col-sm-3 pcolumns">
                            <h6>TYPE/NAME (if any)</h6>
                        </div>
                        <div class="col-sm-2 pcolumns">
                            <h6>SPACE (indoor/outdoor/ <br> poolside/terrace)</h6>
                        </div>
                        <div class="col-sm-2 pcolumns">
                            <h6>SEATING</h6>
                        </div>
                        <div class="col-sm-2 pcolumns">
                            <h6>FLOATING</h6>
                        </div>
                        <div class="col-sm-3 pcolumns">
                            <h6>PRICE PER HOUR (INR)</h6>
                        </div>

                    </div>


                    <div class="row rows rrow">
                        <div class="add-more">
                            <div class="add-more-division" style="width: 102%;">
                                <div class="row rows rrow form-control"
                                    style="background: #adadadb4; border-radius: 0;">
                                    <%if(venue.halls !='' ){%>
                                        <%venue.halls.forEach(hall=>{%>
                                            <div class="col-sm-3 col-md-3"><input value="<%=hall.hall_name%>" type="text"
                                                    class="form-control" name="hall_name" title="Type/Name" size="65px">
                                            </div>
                                            <div class="col-sm-2 col-md-2"><input value="<%=hall.hall_space%>" type="text"
                                                    class="form-control" name="hall_space" title="Space" size="65px">
                                            </div>
                                            <div class="col-sm-2 col-md-2"><input value="<%=hall.hall_seating%>" type="text"
                                                    class="form-control" name="hall_seating" title="Seating"
                                                    size="65px">
                                            </div>
                                            <div class="col-sm-2 col-md-2"><input value="<%=hall.hall_floating%>" type="text"
                                                    class="form-control" name="hall_floating" title="Floating"
                                                    size="65px">
                                            </div>
                                            <div class="col-sm-3 col-md-3 row"
                                                style="justify-content: center; align-items: center; display: flex;">
                                                <div class="col-sm-10 col-md-10">
                                                    <input type="text" name="hall_price" value="<%=hall.hall_price%>"
                                                        class="form-control" title="Type_price">
                                                </div>
                                                <div class="col-sm-2 col-md-2">
                                                    <a href="/venues/del-hall/<%=venue._id%>/<%=hall._id%>"><i
                                                            class="fa fa-close del-button"></i></a>
                                                </div>
                                            </div>
                                            <%})%>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rows" style="text-align: center;">
                        <div class="col-12">

                            <a href="/venues/add-hall/<%=venue._id%>" class="button add-button">Add more +</a>
                        </div>
                    </div>

                    <div class="row rows orow black-white" >
                        <div class="col-sm-12">
                            <h4>PRICE FOR ROOMS</h4>
                        </div>
                    </div>
                    <div class="row rows prow reddish" >
                        <div class="col-md-6 col-sm-6 pcolumns">
                            <h6>ROOM TYPE/NAME</h6>
                        </div>
                        <div class="col-md-6 col-sm-6 pcolumns">
                            <h6>PRICE PER DAY (INR)</h6>
                        </div>
                    </div>

                    <div class="row rows rrow">
                        <div class="add-more-room-price">
                            <div class="add-more-room-division" style="width: 102%;">
                                <div class="row rows rrow form-control"
                                    style="background: #adadadb4; border-radius: 0;">
                                    <%if(venue.rooms !='' ){%>
                                        <%venue.rooms.forEach(room=>{%>
                                            <div class="col-sm-6 col-md-6"><input value="<%=room.room_name%>"
                                                    type="text" class="form-control" name="room_name" title="Type/Name"
                                                    size="65px">
                                            </div>
                                            <div class="col-sm-6 row"
                                                style="justify-content: center; align-items: center;">
                                                <div class="col-sm-11 col-md-11">
                                                    <input type="text" name="room_price" value="<%=room.room_price%>"
                                                        class="form-control" title="Type_price" size="25px">
                                                </div>
                                                <div class="col-sm-1 col-md-1">
                                                    <a href="/venues/del-room/<%=venue._id%>/<%=room._id%>"><i
                                                            class="fa fa-close del-button"></i></a>
                                                </div>
                                            </div>
                                            <%})%>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rows" style="text-align: center;">
                        <div class="col-12">

                            <a href="/venues/add-room/<%=venue._id%>" class="button add-button">Add more +</a>
                        </div>
                    </div>

                    <div class="row rows orow black-white" >
                        <div class="col-sm-12">
                            <h4>PRICE FOR DECORATIONS</h4>
                        </div>
                    </div>
                    <div class="row rows prow reddish">
                        <div class="col-md-6 col-sm-6 pcolumns">
                            <h6>EVENT TYPE/NAME</h6>
                        </div>
                        <div class="col-md-6 col-sm-6 pcolumns">
                            <h6>PRICE (INR)</h6>
                        </div>
                    </div>

                    <div class="row rows rrow">
                        <div class="add-more-decor-price">
                            <div class="add-more-decor-division" style="width: 102%;">
                                <div class="row rows rrow form-control"
                                    style="background: #adadadb4; border-radius: 0;">
                                    <%if(venue.decor !='' ){%>
                                        <%venue.decor.forEach(decor=>{%>
                                            <div class="col-sm-6 col-md-6"><input value="<%=decor.event%>" type="text"
                                                    class="form-control" name="event" title="Type/Name" size="65px">
                                            </div>
                                            <div class="col-sm-6 col-md-6 row"
                                                style="justify-content: center; align-items: center;">
                                                <div class="col-sm-11 col-md-11">
                                                    <input type="text" name="decor_price" value="<%=decor.decor_price%>"
                                                        class="form-control" title="Type_price" size="25px">
                                                </div>
                                                <div class="col-sm-1 col-md-1">
                                                    <a href="/venues/del-decor/<%=venue._id%>/<%=decor._id%>"><i
                                                            class="fa fa-close del-button"></i></a>
                                                </div>
                                            </div>
                                            <%})%>
                                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rows" style="text-align: center;">
                        <div class="col-12">

                            <a href="/venues/add-decor/<%=venue._id%>" class="button add-button">Add more +</a>
                        </div>
                    </div>


                    <div class="row rows orow black-white">
                        <div class="col-sm-12">
                            <h4>SOCIAL MEDIA HANDLES</h4>
                        </div>
                    </div>
                    <div class="row rows grow">
                        <div class="col-sm-3">
                            <label for="insta-url">
                                <h6>Instagram URL</h6>
                            </label>
                        </div>
                        <div class="col-sm-9"><input type="text" name="insta-url" id="insta-url" class="form-control"
                                value="<%= venue.instaUrl%>">
                        </div>
                    </div>
                    <div class="row rows grow">
                        <div class="col-sm-3">
                            <label for="fb-url">
                                <h6>Facebook URL</h6>
                            </label>
                        </div>
                        <div class="col-sm-9"><input type="text" name="fb-url" id="fb-url" class="form-control"
                                value="<%= venue.fbUrl%>">
                        </div>
                    </div>
                    <div class="row rows orow black-white">
                        <div class="col-sm-12">
                            <h4>PORTFOLIOS</h4>
                        </div>
                    </div>

                    <div class="row rows srow">
                        <div class="col-sm-5">
                            <h6>Product Image</h6>
                        </div>
                        <div class="col-sm-7">
                            <div class="container" style="display: flex; text-align: center; justify-content: center; align-items: center;">
                                <img src="/uploads/<%= venue.profilePhoto%>" width="200px" height="150px" alt="" style="margin-right: 10px; ">
                                <p><%= venue.portfolioPhoto%></p>
                            </div>
                            <input type="file" name="image" id="image" class="form-control" accept="image/*">
                            <label for="image" id="drop-area">

                                <!--  <input  type="file" name="profile-phot class="form-control"o" id="profile-photo"
                                accept="image/jpeg, image/jpg, image/png" hidden> <h6 id="profile-photo-filename"></h6> -->
                                <div class="img-view">
                                    <img src="/images/508-icon.png" alt="">
                                    <p>Drag and Drop or click here <br> to upload image</p>
                                    <span>Upload any image from desktop</span>
                                </div>
                            </label>

                        </div>


                    </div>

                    <div class="row rows trow">
                        <div class="col-sm-5">
                            <p>Photos</p>
                        </div>
                        <div class="col-sm-7">

                        </div>
                    </div>


                    <div class="row rows urow">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4"> <a href="/delete-venue/<%=venue._id%>" class="button" id="delete"
                                class="button"><i class="fa fa-close delete"></i>Delete</a></div>
                        <div class="col-sm-4"> <button type="submit" class="button" id="submit"><i class="fa fa-refresh post"></i>Update</button></div>
                    </div>
                </div>
            </div>
        </form>



    </div>


    <script src="/js/form.js">

    </script>
</body>

</html>