<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="icon" type="image-icon" href="/images/logo.ico">
    <!-------------Bootstrap CSS------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-------------jQuery-------------------->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.flipster/1.1.5/jquery.flipster.min.js"></script>
    <!-------------Bootstrap js-------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!--------------Icons-------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/venue.css">
</head>

<body>

    <header class="header">

        <div class="fa fa-bars" id="menu-btn" onclick="navBarToggle()"></div>

        <a href="/" class="navbar-logo"><img src="/images/logo.png" alt="" width="100%" height="100%"></a>

        <nav class="navbar navigation-bar">
            <a href="/caterers"><i class="fa fa-glass"></i>Food & Beverages</a>
            <a href="/photographers"><i class="fa fa-image"></i>Photographers</a>
            <a href="/entertainers"><i class="fa fa-film"></i>Entertainers</a>
            <a href="/decorators"><i class="fa fa-star"></i>Decoraters</a>
            <a href="/invitations" style="border: none;"><i class="fa fa-gift"></i>e-Invitaton Card</a>

        </nav>

        <div class="user-btn dropdown" id="user-btn">
            <a> <i class="fa fa-user user-icon"></i></a>
        </div>
    </header>

    <div class="page-location">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">venue</li>
            </ol>
        </nav>
        <div class="filter-search">
            <div class="input-group">
                <form id="searchForm" action="/venues/search/<%= searchInput %>" method="get"
                    enctype="multipart/form-data">
                    <input class="form-control search-input" id="search" type="search" name="search"
                        placeholder="Search by name, location" aria-label="Search">
                    <button class="btn btn-outline-secondary search-btn" type="submit" href="">Search</button>
                </form>
            </div>
            <div class="user-btn" id="user-btn">
                <button class="button btn login-btn" data-bs-toggle="modal" data-bs-target="#filterModal"><i
                        class="fa fa-sliders"></i> &nbsp;<span>Filter</span></button>

            </div>
        </div>
    </div>

    <form method="get" id="serviceForm">
        <div class="event-type-container">
            <div class="wrapper">
                <div class="carousel owl-carousel">
                    <div class="card card-1"><a href="/venues/service-events/Birthday">
                            <div class="card-img">
                                <img src="/images/birthday.png" alt="">
                            </div>
                            <input type="radio" value="Birthday" hidden>
                            <h6>Birthday</h6>
                        </a>
                    </div>
                    <div class="card card-2"><a href="/venues/service-events/Ring Ceremony">
                            <div class="card-img">
                                <img src="/images/ringceremony.png" alt="">
                            </div>
                            <input type="radio" value="Ring Ceremony" hidden>
                            <h6>Ring Ceremony</h6>
                        </a>
                    </div>
                    <div class="card card-3"><a href="/venues/service-events/Wedding">
                            <div class="card-img">
                                <img src="/images/wedding.png" alt="" width="10px" height="60px">
                            </div>
                            <input type="radio" value="Wedding" hidden>
                            <h6>Wedding</h6>
                        </a>
                    </div>
                    <div class="card card-4"><a href="/venues/service-events/Baby Shower">
                            <div class="card-img">
                                <img src="/images/babyshower.png" alt="" width="10px" height="60px">
                            </div>
                            <input type="radio" value="Baby Shower" hidden>
                            <h6>Baby Shower</h6>
                        </a>
                    </div>
                    <div class="card card-5"><a href="/venues/service-events/Festival">
                            <div class="card-img">
                                <img src="/images/festival.png" alt="">
                            </div>
                            <input type="radio" value="Festival" hidden>
                            <h6>Festival</h6>
                        </a>
                    </div>
                    <div class="card card-6"><a href="/venues/service-events/Conference">
                            <div class="card-img">
                                <img src="/images/conference.png" alt="">
                            </div>
                            <input type="radio" value="Conference" hidden>
                            <h6>Conference</h6>
                        </a>
                    </div>
                    <div class="card card-7"><a href="/venues/service-events/Concert">
                            <div class="card-img">
                                <img src="/images/concert.png" alt="">
                            </div>
                            <input type="radio" value="Concert" hidden>
                            <h6>Concert</h6>
                        </a>
                    </div>
                    <div class="card card-8"><a href="/venues/service-events/Interview">
                            <div class="card-img">
                                <img src="/images/interview.png" alt="">
                            </div>
                            <input type="radio" value="Interview" hidden>
                            <h6>Interview</h6>
                        </a>
                    </div>
                    <div class="card card-9"><a href="/venues/service-events/Freshers/Farewell">
                            <div class="card-img">
                                <img src="/images/freshers.png" alt="">
                            </div>
                            <input type="radio" value="Freshers/Farewell" hidden>
                            <h6>Freshers/Farewell
                            </h6>
                        </a>
                    </div>
                    <div class="card card-10"><a href="/venues/service-events/Exhibition/Brand Promo">
                            <div class="card-img">
                                <img src="/images/exhibition.png" alt="">
                            </div>
                            <input type="radio" value="Exhibition/Brand Promo" hidden>
                            <h6>Exhibition/Brand Promo
                            </h6>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class=" venue-container">

        <div class="row box1">
            <% if(venueList !='' ) { %>
                <%venueList.forEach(venues=>{%>
                    <div class="col-md-4 col-sm-2 column">
                        <div class="service-figure">
                            <img src="/uploads/<%= venues.profilePhoto%>" alt="" class="services-img">
                            <button onclick="favourite()"><i class="fa fa-heart favourites"></i></button>
                        </div>
                        <div class="service-brief">

                            <div class="venue-description venue-name" id="venue-name">
                                <div>
                                    <a target="_blank" title="<%= venues.name %>" href="/venues/<%= venues._id%>">
                                        <h5>
                                            <%= venues.name %>
                                        </h5>
                                    </a>
                                </div>
                                <div><span><i class="fa fa-star"></i>
                                        <%= venues.averageRating %>
                                    </span>
                                </div>
                            </div>

                            <div class="venue-description venue-location" id="venue-location"><a
                                    href="/venues/<%= venues._id%>">
                                    <div class="location">
                                        <span><img
                                                src="https://images.wedmegood.com/react-frontend-v4/static/media/location.417064ed.svg"
                                                alt="Location" width="10.62" height="17"></span>
                                        <p title=" <%= venues.address %>"><span>
                                                <%= venues.address %>
                                            </span> </p>
                                    </div>

                                    <div class="location">
                                        <img src="https://images.wedmegood.com/react-frontend-v4/static/media/ResortIcon.00b02371.svg"
                                            alt="Venue" width="17" height="20">
                                        <p title="Banquet Halls, Lawns / Farmhouses">
                                            Banquet Halls, Lawns / Farmhouses</p>
                                    </div>
                                </a>

                            </div>

                            <div class="venue-description venue-price" id="venue-price">
                                <div>
                                    <span class="veg-food-price">
                                        Starting at <i class="fa fa-inr"></i><span>
                                            <%= venues.starting_price %>
                                        </span></span>

                                </div>
                                <div>
                                    <button class="explore"><a href="/venues/<%= venues._id%>">Explore More</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                        <% } %>

                            <% if(venueList=='' ) { %>
                                <div class="row box1" style="margin: 100px 200px 100px 600px;">
                                    <p>Oops! No result found</p>
                                </div>
                                <% } %>
        </div>
    </div>


    <div class="modal" id="filterModal" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
        <div class="modal-dialog form modal-xl">
            <div class="modal-content form-content">
                <div class="modal-header">
                    <h5 class="modal-title form-title" id="filterModalLabel">Filter</h5>
                    <button type="button" class="btn-close form-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form id="filterForm" method="get" enctype="multipart/form-data">
                    <div class="modal-body row filter-body">
                        <div class="filter-topics col-lg-3  col-sm-6">
                            <h5>Number of Guests</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="guests"
                                            id="less-than-100" value="lte-100"></div>
                                    <div class="col-5">&lt 100</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="guests"
                                            id="hundred-twofifty" value="100-250"></div>
                                    <div class="col-5">100-250</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="guests"
                                            id="twofifty-fivehundred" value="250-500">
                                    </div>
                                    <div class="col-5">250-500</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="guests"
                                            id="fivehundred-thousand" value="500-1000">
                                    </div>
                                    <div class="col-5">500-1000</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="guests"
                                            id="more-than-thousand" value="1000-gte">
                                    </div>
                                    <div class="col-5">&gt 1000</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-topics  col-lg-3   col-sm-6">
                            <h5>Price per plate</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="starting_price"
                                            id="less-than-1000" value="lte-500"></div>
                                    <div class="col-6">&lt <i class="fa fa-inr"></i> 500</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="starting_price"
                                            id="one-five-thousand" value="500-1000"></div>
                                    <div class="col-6"><i class="fa fa-inr"></i>500-<i class="fa fa-inr"></i>1000
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="starting_price"
                                            id="five-two-thousand" value="1000-1500">
                                    </div>
                                    <div class="col-6"><i class="fa fa-inr"></i>1000-<i class="fa fa-inr"></i>1500
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="starting_price"
                                            id="two-three-thousand" value="1500-2000">
                                    </div>
                                    <div class="col-6"><i class="fa fa-inr"></i>1500-<i class="fa fa-inr"></i>2000
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="starting_price"
                                            id="more-than-three-thousand" value="2000-gte">
                                    </div>
                                    <div class="col-6">&gt= <i class="fa fa-inr"></i>2000</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-topics  col-lg-3   col-sm-6">
                            <h5>Rental Cost</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-2"><input type="radio" name="room_start_price" value="lte-25000"
                                            id="less-than-25000"></div>
                                    <div class="col-7">&lt <i class="fa fa-inr"></i> 25000</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-2"><input type="radio" name="room_start_price" value="25000-50000"
                                            id="twofive-fifty-thousand">
                                    </div>
                                    <div class="col-7"><i class="fa fa-inr"></i>25000-<i class="fa fa-inr"></i>50000
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-2"><input type="radio" name="room_start_price" value="50000-100000"
                                            id="fifty-one-lakh">
                                    </div>
                                    <div class="col-7"><i class="fa fa-inr"></i>50000-<i class="fa fa-inr"></i>100000
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-2"><input type="radio" name="room_start_price" id="one-two-lakh"
                                            value="100000-500000">
                                    </div>
                                    <div class="col-7"><i class="fa fa-inr"></i>100000-<i class="fa fa-inr"></i>500000
                                    </div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-2"><input type="radio" name="room_start_price"
                                            id="more-than-five-lakh" value="500000-gte">
                                    </div>
                                    <div class="col-7">&gt= &nbsp; <i class="fa fa-inr"></i>500000</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-topics  col-lg-3   col-sm-6">
                            <h5>Venue Type</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Hotel" type="radio"
                                            name="venue_type" id="indoor">
                                    </div>
                                    <div class="col-7">Hotels</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Banquet Hall" type="radio"
                                            name="venue_type" id="outdoor">
                                    </div>
                                    <div class="col-7">Banquet Halls</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Lawns/Farmhouse" type="radio"
                                            name="venue_type" id="poolside">
                                    </div>
                                    <div class="col-7">Lawns/Farmhouses</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Resort" type="radio"
                                            name="venue_type" id="terrace">
                                    </div>
                                    <div class="col-7">Resorts</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Heritage Property" type="radio"
                                            name="venue_type" id="terrace">
                                    </div>
                                    <div class="col-7">Heritage Property</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Restaurants" type="radio"
                                            name="venue_type" id="terrace">
                                    </div>
                                    <div class="col-7">Restaurants</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-topics col-lg-3    col-sm-6">
                            <h5>Space</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Indoor" type="radio" name="space"
                                            id="indoor">
                                    </div>
                                    <div class="col-5">Indoor</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Outdoor" type="radio"
                                            name="space" id="outdoor">
                                    </div>
                                    <div class="col-5">Outdoor</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Poolside" type="radio"
                                            name="space" id="poolside">
                                    </div>
                                    <div class="col-5">Poolside</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input value="Terrace" type="radio"
                                            name="space" id="terrace">
                                    </div>
                                    <div class="col-5">Terrace</div>
                                </div>

                            </div>
                        </div>
                        <div class="filter-topics  col-lg-3   col-sm-6">
                            <h5>Room Count</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="room_count"
                                            id="less-than-1000" value="lte-30"></div>
                                    <div class="col-5">&lt 30</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="room_count"
                                            id="one-five-thousand" value="30-50"></div>
                                    <div class="col-5">30-50</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="room_count"
                                            id="five-two-thousand" value="50-100">
                                    </div>
                                    <div class="col-5">50-100</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="room_count"
                                            id="two-three-thousand" value="100-300">
                                    </div>
                                    <div class="col-5">100-300</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="room_count"
                                            id="more-than-three-thousand" value="300-gte">
                                    </div>
                                    <div class="col-5">&gt 300</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-topics col-md-6">
                            <h5>Rating</h5>
                            <div class="options">
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                            id="lt-4" value="lte-4"></div>
                                    <div class="col-5">Rated &lt 4</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                            id="four-plus" value="4-gte"></div>
                                    <div class="col-5"> Rated 4+</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                            id="four-point-five-plus" value="4.5-gte">
                                    </div>
                                    <div class="col-5">Rated 4.5+</div>
                                </div>
                                <div class="row filter-rows">
                                    <div class="col-md-3 col-sm-2 col-2"><input type="radio" name="averageRating"
                                            id="four-point-eight-plus" value="4.8-gte">
                                    </div>
                                    <div class="col-5">Rated 4.8+</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="display: flex; flex-direction: column;">
                        <button class="filter-result-btn" id="filter-result" type="submit">View Result</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>


        let menu = document.querySelector("#menu-btn"),
            navbar = document.querySelector(".navbar");
        var main = document.querySelector(".main");

        function navBarToggle() {
            menu.classList.toggle('fa-window-close');
            navbar.classList.toggle('navbar-active');
            navbar.classList.toggle('navigation-bar');
        }


        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting in the traditional way

            const searchInput = document.getElementById('search').value; // Get the input value

            // Redirect the user to the URL with the search input as a route parameter
            window.location.href = `/venues/search/${searchInput}`;
            // const searchForm = document.getElementById('searchForm');
            // if (currentPath.startsWith('/venues/service-events/')) {
            //     // If the current route is /photographer/search/:searchInput
            //     const eventInput = currentPath.substring('/venues/service-events/'.length);
            //     searchForm.action = null;
            // }
            // else {
            //     // If the current route is /photographer
            //     const eventInput = currentPath.substring('/venues/search/'.length);
            //     searchForm.action = `/venues/search/${searchInput}`;
            // }
        });


        // JavaScript in the same EJS file or in a separate script file
        document.addEventListener('DOMContentLoaded', function () {
            const filterForm = document.getElementById('filterForm');
            const currentPath = window.location.pathname;

            // Check the current route and update form action accordingly
            if (currentPath.startsWith('/venues/search/')) {
                // If the current route is /photographer/search/:searchInput
                const searchInput = currentPath.substring('/venues/search/'.length);
                filterForm.action = `/venues/search/${searchInput}`;
            }
            if (currentPath.startsWith('/venues/service-events/')) {
                // If the current route is /photographer/search/:searchInput
                const eventInput = currentPath.substring('/venues/service-events/'.length);
                filterForm.action = `/venues/service-events/${eventInput}`;
            }
            else {
                // If the current route is /photographer
                filterForm.action = '/venues';
            }

        });


            $(document).ready(function () {
                $('[data-bs-toggle="tooltip"]').tooltip();
                $(".carousel").owlCarousel({
                    margin: 20,
                    loop: true,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 3,
                            nav: false
                        },
                        600: {
                            items: 4,
                            nav: false
                        },
                        1000: {
                            items: 6,
                            nav: false
                        }
                    }
                });
            })
    </script>
</body>

</html>